# Ignore credentials file
credentails.json

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
*.venv
.env

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Jupyter Notebook
.ipynb_checkpoints

# Excel temporary files
~$*.xls*

# Sheets API specific
token.json
